.bodyToProject{
  min-height: 80vh;
  box-shadow: 0px 0px 10px 5px gray;
  filter: blur(10);
}
@media (max-width: 579px) {
  .bodyToProject{
    box-shadow: unset;
  }
}
ul li{
  list-style-type: none;
}
ul li label{
  display: block;
  margin: 15px 0px;
}
#image{
  box-shadow: 0px 0px 10px 5px rgb(139, 201, 171);
}
ul li input{
  display: block;
  width: 100%;
  accent-color: rgb(0, 85, 255);
}
.imgBox input{
  display: none;
}
.imgBox label{
  border: 2px #f6f6f6 dotted;
  font-size: 25px;
  padding: 2px 8px;
  cursor: pointer;
  transition: 0.5s;
}
.imgBox label:hover{
  transform: scale(1.08);
}
.btns{
  display: flex;
  justify-content: space-evenly;
}
.btns a{
  border-style: none;
  background-color: rgb(0, 85, 255);
  color: #f6f6f6;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.btns span{
  border: 2px rgb(0, 85, 255) solid;
  color: rgb(0, 85, 255);
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.btns a:hover{
  box-shadow: 0px 0px 10px 5px gray;
}
.btns span:hover{
  background-color: rgb(0, 85, 255);
  color: #f6f6f6;
  box-shadow: 0px 0px 10px 5px gray;
}